*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #141414;
    font-family: 'Tahoma', 'Geneva', 'sans-serif';
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

h1 {
    padding: 0.5em 0em;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
}

.nav-bar li {
    display:inline-block;
    padding: 1em 0.5em;
}

li:nth-child(odd) a:hover{
    color: rgb(93, 162, 241);
}

li:nth-child(even) a:hover{
    color: rgb(117, 226, 123);
}

.section-a {
    padding: 0.5em 0.5em 1em 0.5em;
    background-color: rgb(93, 162, 241);
}

.section-b {
    padding: 0.5em 0.5em 1em 0.5em;
    background-color: rgb(117, 226, 123);
}

.skills-list {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-item img {
    height: 120px;
    width: auto;
    padding: 0.5em;
}

.skills2-item img {
    height: 60px;
    width: auto;
    padding: 0.5em;
}

.section-c {
    padding: 0.5em 0.5em 1em 0.5em;
    background-color: rgb(93, 162, 241);
}

footer {
    margin-top: 1em;
}